/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
  
h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.heading1 {
    background-color: red;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border: 1px black solid;
    width: 140px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: -1px;
}

.heading2 {
    background-color: orange;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border: 1px black solid;
    width: 140px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: -1px;
}

.heading3 {
    background-color: green;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border: 1px black solid;
    width: 140px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: -1px;
}

#ChickenBox {
    background-color: gray;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 45px;
    border: 1px black solid;
    margin: 1%;
    position: relative;
}

#BeefBox {
    background-color: gray;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 45px;
    border: 1px black solid;
    margin: 1%;
    position: relative;
}

#TofuBox {
    background-color: gray;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 45px;
    border: 1px black solid;
    margin: 1%;
    position: relative;
}


/********** Desktop devices only **********/
@media (min-width: 992px) {
    #ChickenBox, #BeefBox, #TofuBox {
        float: left;
        width: 31.16%;
    }
}

/********** Tablet devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {

    #ChickenBox {
        width: 48%;
        float: left;
    }

    #BeefBox {
        width: 48%;
        float: left;
    }
    
    #TofuBox {
        width: 98.1%;
        float: left;
    }
  }

/********** Mobile devices only **********/
@media (max-width: 767px) {
    #ChickenBox, #BeefBox, #TofuBox {
        float: left;
    }
    #ChickenBox {
        width: 90%;
        margin-left: 5%;
    }
    #BeefBox {
        width: 90%;
        margin-left: 5%;
    }
    #TofuBox {
        width: 90%;
        margin-left: 5%;
    }
}